

@media screen and (min-width:992px) {
    main {
        min-height: 500px;
        flex-grow: 1
    }
}


@media  screen and (min-width:992px) {
    

.carousel-inner{

  width: 600px;
  height: 400px;
  margin: auto; /* per centrare */
}


#myCarousel.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}

#carouselExampleCaptions {
  width: 700px;       /* o qualunque larghezza desideri */
  height: 400px;      /* altezza personalizzata */
  margin: 0 auto;     /* per centrare */
}

#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item,
#carouselExampleCaptions .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;  }