h1 {
    font-size: 2.5em;
    margin-top: 2em;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {

    cursor: pointer;
}

h1:hover {
    animation: bounce 0.6s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}


.logo {

    cursor: pointer;
}

.logo:hover {
    animation: bounce 0.6s;
}

/* Effetto di rimbalzo */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width:1200px) {
    main {
        min-height: 500px;
        flex-grow: 1
    }
}

hr {
    width: 600px;
    /* accorcia la linea */
    border: none;
    border-top: 2px solid #feffff;
    /* cambia colore (azzurro Bootstrap info) */
    margin: 20px auto;
}

.btn:hover {
    background-color: rgb(255, 220, 82);
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;

}